<p id="notice"><%= notice %></p>

<h1>Exercises</h1>





<div class="container">
<div class="card-deck">
<% @exercises.each do |exercise| %>
  <div class="card">
     <%=  image_tag exercise.image, size:'300x300', class: "card-img-top "  %>
    <div class="card-body">
      <h1 class="card-title"><%= exercise.name %></h1>
      <p class="card-text"><%= exercise.description %></p>
    </div>
    </div>
   <% end %>
  </div>
  </div>


  
